@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,700;0,800;1,100;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(32, 32, 32)
}

.body {
    animation: showBody 1.2s;
}

@keyframes showBody {
    0% {
        margin: -2500px 0 0 0 ;
        opacity: 0;
    }
    100% {
        margin: 0px 0 0 0 ;
        opacity: 1;
    }
}

::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(31, 212, 173);
    border-radius: 2px;
    width: 10px;
}

html {
    scroll-behavior: smooth;
}

.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.open p {
    position: relative;
    top: -30px;
    margin: auto auto;
    font-weight: bold;
    width: 700px;
    text-align: center;
    padding: 0 50px;
}

.bt-open {
    position: relative;
    margin-top: 20px;
    background-color: rgb(45, 209, 174);
    width: 180px;
    font-weight: 500;
    padding: 10px;
    color: white;
}

#navs {
    position: fixed;
    background-color: transparent;
    z-index: 999;
    transition: 0.3s;
    width: 100%;
    height: 75px;
}

.face {
    transform: scale(0.4);
}

.brands-text {
    margin-top: 5px;
}

#navs li a {
    color: white;
}

.menu-mobile {
    position: fixed;
    top: 80px;
    right: 100px;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 0px;
    width: 280px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: grey;
    transition: 0.3s;
    opacity: 0;
}

.menu-web {
    position: fixed;
    top: 80px;
    right: 100px;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 0px;
    width: 280px;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: grey;
    transition: 0.3s;
    opacity: 0;
}

.menu-mobile p, .menu-web p {
    font-weight: bold;
    font-size: 17;
}

.menu-mobile div, .menu-web div {
    padding: 5px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    display: flex;
}

.list-mobile p, .list-web p {
    position: relative;
    top: 5px;
    padding-left: 10px;
}

.list-mobile:hover, .list-web:hover {
    padding-left: 20px;
    transition: 0.3s;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: rgb(45, 209, 174);
    color: white;
}

.list-mobile:hover a, .list-web:hover a {
    padding-left: 20px;
    transition: 0.3s;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: rgb(45, 209, 174);
    color: white;
}

.menu-mobile-show {
    position: fixed;
    z-index: 99;
    top: 100px;
    opacity: 1;
    transition: 0.3s;
}

.menu-web-show {
    position: fixed;
    top: 100px;
    z-index: 99;
    opacity: 1;
    transition: 0.3s;
}

.menu-mobile a, .menu-web a {
    color: grey;
    text-decoration: none;
}

.user {
    position: absolute;
    font-size: 38px;
    margin-top: 1px;
    right: 35px;
    cursor: pointer;
    transition: 0.4s;
}

.user:hover {
    transition: 0.4s;
    color: rgb(192, 192, 192);
}

.profile {
    position: fixed;
    top: 60px;
    right: -90%;
    width: 370px;
    height: 700px;
    border-radius: 6px;
    background-color: #fff;
    z-index: 23;
    padding: 20px;
    box-shadow: none;
    opacity: 1;
    text-align: center;
    transition: 0.8s;
}

.profile-show {
    position: fixed;
    right: 0%;
    width: 370px;
    height: 700px;
    top: 100px;
    border-radius: 6px 0 0 6px;
    background-color: #fff;
    z-index: 23;
    padding: 20px;
    box-shadow: none;
    opacity: 1;
    text-align: center;
    transition: 0.8s;
}

.la-times {
    color: white;
}

.profile p {
    position: relative;
    font-weight: 500;
    margin-top: 30px;
}

.toggle-btn2 {
    position: absolute;
    margin-top: 20px;
    left: -70px;
    font-size: 40px;
    cursor: pointer;
    z-index: 888;
}

.toggle-btn2:active {
    transition: 0.5s;
    transform: scale(0.88);
}

.user-img {
    position: relative;
    top: 20px;
    width: 170px;
    border-radius: 10px;
}

.bt-crb {
    position: relative;
    margin-top: 20px;
    background-color: rgb(31, 199, 148);
    font-weight: 500;
    color: white;
}

.sertif {
    position: fixed;
    top: 60px;
    right: -90%;
    width: 370px;
    height: 700px;
    background-color: #fff;
    z-index: 23;
    padding: 20px;
    box-shadow: none;
    opacity: 0;
    transition: 0.8s;
}

.sertif-show {
    opacity: 1;
    transition: 0.85s;
    display: block;
    z-index: 23;
    text-align: center;
    top: 100px;
    border-radius: 6px 0 0 6px;
    right: 0%;
}

.sertif p {
    position: relative;
    font-weight: 500;
    font-size: 23px;
    margin-top: 30px;
}

.st1 {
    position: relative;
    top: -10px;
    transform: scale(0.6);
    height: auto;
}

.toggle-btn {
    position: absolute;
    left: -70px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    z-index: 888;
}

.toggle-btn:active {
    transition: 0.5s;
    transform: scale(0.88);
}

.sertif div {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    margin: 20px 0px;
    height: auto;
}

.list-sertif {
    position: relative;
    top: -130px;
    border-top: 1px solid rgb(224, 224, 224);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: auto;
}

.list-sertif div {
    width: 50%;
}

.sertif div img {
    width: 100%;
    transform: scale(0.9);
}

.st1 {
    position: relative;
    top: -60px;
    transform: scale(0.7);
}

.LOGO {
    position: relative;
    margin-left: 50px;
    font-weight: bold;
}

.menus {
    margin-right: 100px;
}

.menus .nav-link {
    font-weight: bold;
    color: white;
    margin-right: 40px;
}

.bt-submit {
    position: relative;
    margin-right: 10px;
    background-color: rgb(45, 209, 174);
    font-weight: 500;
    width: 100px;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(45, 209, 174);
    outline: none;
}

#jumbotron {
    position: relative;
    width: 100%;
    display: flex;
    padding: 100px 50px 0 50px;
    font-family: 'Raleway', sans-serif;
    /* background: linear-gradient(rgb(212, 252, 238), rgb(255, 255, 255)); */
    background-color: transparent;
    height: 700px;
}

#jumbotron h1 {
    width: 100%;
    font-weight: bold;
    color: rgb(255, 251, 251);
    font-size: 70px;
}

#jumbotron p {
    position: relative;
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
}

#jumbotron  div {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    width: 50%;
}

.wrap-bt-start {
    position: absolute;
    left: 15px;
}

.bt-start {
    position: relative;
    margin-top: 25px;
    margin-left: 50px;
    background-color: rgb(45, 180, 140);
    border: 2px solid rgb(45, 180, 140);
    color: white;
    transform: scale(1.2);
    font-weight: 500;
    transition: 0.5s;
}

.bt-start2 {
    position: relative;
    margin-top: 25px;
    margin-left: 50px;
    background-color: transparent;
    border: 2px solid rgb(45, 180, 140);
    color: white;
    transform: scale(1.2);
    font-weight: 500;
    transition: 0.5s;
}

.bt-start:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

.pp {
    color: rgb(28, 206, 153);
}

main {
    position: absolute;
    top: -120px;
    left: -420px;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 130px;
    opacity: 0.3;
    background: url('images/dekorasi/squr.png'); 
    background-repeat: no-repeat;
    transform: scale(0.3);
}

.became {
    color: rgb(28, 206, 153);
}

.cn1 .lead {
    color: rgb(255, 255, 255);
}

.cn1 h1 {
    color: rgb(87, 87, 87);
    font-size: 50px;
}

.brands {
    position: absolute;
    animation: sq2 7s ease-in-out infinite;
    margin-top: 60px;
    right: 120px;
    transform: scale(1);
    width: 400px;
}

@keyframes sq2 {
    0%{
        margin-top: 60px;
    }
    25%{
        margin-top: 25px;
    }
    50%{
        margin-top: 60px;
    }
    75%{
        margin-top: 25px;
    }
    100%{
        margin-top: 60px;
    }
}

.sec-1 {
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
    overflow: hidden;
    height: auto;
    padding: 50px 20px 20px 20px;
    margin-bottom: 150px;
    font-family: 'Raleway', sans-serif;
}

.project {
    position: absolute;
    right: 0;
}

.project h1 {
    color: transparent;
    -webkit-text-stroke: 2px grey;
    color: transparent;
    opacity: 0.1;
    font-size: 150px;
}

.project2 {
    position: absolute;
    top: 15px;
    left: 0;
}

.project2 h1 {
    color: transparent;
    -webkit-text-stroke: 2px grey;
    color: transparent;
    opacity: 0.1;
    font-size: 150px;
}

.project3 {
    position: absolute;
    top: 15px;
    right: 0;
}

.project3 h1 {
    color: transparent;
    -webkit-text-stroke: 2px grey;
    color: transparent;
    opacity: 0.1;
    font-size: 150px;
}

.span-by {
    color: rgb(28, 206, 153);
}

.sec-text-brand {
    position: relative;
    text-align: left;
}

.sec-text-brand h1 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 110px;
    color: rgb(255, 255, 255);
}

.sec-text-brand h1::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background-color: rgb(28, 206, 153);
    margin-left: 0px;
    margin-top: 58px;
}

.sec-text-brand p {
    font-weight: 500;
}

.sec-content-1 {
    position: relative;
    left: -60px;
    width: 100%;
    padding-top: 70px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.sec-content-1 .card {
    box-shadow: none;
    transition: 0.5s;
    height: 400px;
}

.sec-content-1 h3 {
    font-weight: bold;
    font-size: 23px;
    color: rgb(37, 204, 168);
    z-index: 99;
}

.sec-content-1 .card:hover {
    transition: 0.5s;
    margin-top: -20px;
    cursor: pointer;
    z-index: 99;
}

.sec-content-1 .card i {
    position: relative;
    left: 15px;
    width: 35px;
    transform: skew(-10deg);
    font-size: 70px;
    background-color: rgb(224, 224, 224);
}

.card {
    padding-top: 20px;
    border: none;
    padding: 20px 10px;
    height: auto;
    border-radius: 5px;
    color: rgb(66, 66, 66);
}

.card1 {
    position: relative;
    top: 25PX;
    padding-bottom: 20px;
    transition: 0.6s;
    transform: scale(1.2);
    opacity: 0;
}

.card2 {
    position: relative;
    top: 10PX;
    transition: 0.7s;
    opacity: 0;
    transform: scale(1.05);
}

.card3 {
    position: relative;
    top: 25PX;
    transition: 0.8s;
    opacity: 0;
    transform: scale(1);
}

.card-text {
    position: relative;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}

.card-title {
    color: rgb(66, 66, 66);
}

.bt2 {
    position: relative;
    top: 30px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: rgb(28, 206, 153);
    border: 2px solid rgb(28, 206, 153);
    transition: 0.5S;
}

.bt2:hover {
    transition: 0.5S;
    color: rgb(41, 41, 41);
    font-weight: bold;
    border: 2px solid rgb(28, 206, 153);
    background-color: transparent;
    transform: scale(0.93);
}

.bt22 {
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: rgb(28, 206, 153);
    border: 3px solid rgb(45, 209, 174);
    transition: 0.5s;
    transform: scale(0.97);
}

.bt22:hover {
    transition: 0.5s;
    font-weight: bold;
    border: 3px solid rgb(45, 209, 174);
    background-color: transparent;
    transform: scale(0.9);
}

.p {
    position: relative;
    font-weight: bold;
    opacity: 1;
    color: rgb(66, 66, 66);
    z-index: 9999;
}

.ipt1 {
    position: relative;
    margin: auto;
    height: 40px;
    width: 50px;
}

.ipt2 {
    position: relative;
    margin: auto;
    height: 55px;
    width: 50px;
}

.ipt {
    position: relative;
    margin: auto;
    height: 45px;
    width: 40px;
}
.sec-middle {
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 350px;
    display: none;
    background-color: rgb(161, 161, 161);
    box-shadow: 0 0 35px 3px rgb(230, 228, 228);
}

.sec-2 {
    position: relative;
    height: auto;
    margin-top: 30px;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}

.squr {
    position: absolute;
    left: 0px;
    margin-top: -140px;
    transform: scale(0.7);
    z-index: -2;
    opacity: 0.6;
}

.sec2-content {
    width: 100%;
    display: flex;
}

.sec2-content .sec2-text-content {
    position: relative;
    left: 50px;
    padding: 30px;
    width: 50%;
    text-align: left;
}

.text-content a {
    text-decoration: none;
}

.sec2-text-content h2 {
    color: black;
    width: auto;
    padding-top: 3px;
    font-weight: bold;
    color: rgb(32, 212, 188);
    padding-left: 0px;
    border-radius: 5px 30px 30px 5px;
    padding-bottom: 10px;
    font-size: 40px;
    padding-right: 5px;
}

.sec2-text-content h2::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    top: 80px;
    background-color: rgb(36, 196, 161);
}

.sec2-text-content h1 {
    font-size: 35px;
    color: white;
}

.sec2-text-content p {
    margin-top: 40px;
    width: 80%;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.bt-sec2 {
    position: relative;
    left: -20px;
    margin-top: 20px;
    background-color: rgb(28, 206, 153);
    border: 2px solid rgb(28, 206, 153);
    color: white;
    width: 150px;
    margin-left: 20px;
    padding: 8px;
    font-weight: bold;
    transition: 0.5s;
}

.bt-sec2-brain {
    background-color: transparent;
    border: 2px solid rgb(28, 206, 153);
}

.bt-sec2:hover {
    color: white;
    border: 2px solid rgb(28, 206, 153);
    background-color: transparent;
    transform: scale(0.93);
    transition: 0.5s;
}

.sec2-content .sec2-img{
    position: relative;
    width: 50%;
    transform: scale(0.8);
}

.sec2-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: none;
    padding: 30px;
}

.img-1, .img-2, .img-3 {
    position: relative;
    left: 130px;
    opacity: 0;
    transition: 0.8s;
}

.img-1s {
    position: absolute;
    transform: scale(0.6);
    top: -220px;
    right: -120px;
    opacity: 0.6;
}

.img-1, .img-2, .img-3 {
    font-size: 28em;
}

.img-3  {
    position: relative;
    top: -20px;
}

.cdc1, .cdc2, .cdc3 {
    opacity: 0;
    transition: 0.8s;
}

.sec-service {
    position: relative;
    margin-top: 160px;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    color: white;
    overflow: hidden;
    background-color: transparent;
    z-index: 30;
    text-align: center;
}

.text-service {
    width: 100%;
}

.porto {
    color: white;
}

.list-service {
    position: relative;
    margin-top: 70px;
    padding: 0 30px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    width: 100%;
    transition: 0.7s;
}

.list-service .card {
    position: relative;
    top: 10px;
    margin: auto;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
}

.list-service .card:hover {
    position: relative;
    transition: 0.5s;
    top: -15px;
    cursor: pointer;
    z-index: 99;
}

.card2 {
    background-color: #fff;
    box-shadow: 0 0 20px rgb(218, 218, 218);
}

.interaksi {
    margin-top: 10px;
}

.text-service h2 {
    font-weight: bold;
    font-size: 28px;
    color: rgb(40, 204, 155);
}

.git {
    position: absolute;
    font-size: 35px;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 30px;
    z-index: 10;
    transition: 0.5s;
}

.git:hover {
    transition: 0.5s;
    transform: rotate(180deg) scale(1.1);
}

.sec-service h5 {
    color: rgb(40, 204, 155);
    font-weight: bold;
}

.text-service h2::before {
    position: abpx;
    background-color: rgb(243, 168, 6);
    top: 125px;
    margin-left: 67px;
}

.img-service {
    width: 40px;
}

.c {
    position: relative;
    top: 5px;
    margin-left: 50px;
    font-size: 20px;
}

.animated2 {
    position: relative;
    top: -60px;
}

.animated3 {
    position: relative;
    top: -30px;
}

.sec-3 {
    position: relative;
    top: 50px;
    left: -100%;
    border: transparent;
    margin: auto;
    width: 90%;
    height: 300px;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    flex-wrap: wrap;
}

.sec-3-show {
    position: relative;
    top: 50px;
    left: 0%;
    border: transparent;
    margin: auto;
    width: 90%;
    height: 300px;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    display: flex;
    opacity: 1;
    transition: 0.5s;
    flex-wrap: wrap;
}

.sec-3 div {
    width: 30%;
    padding: 30px;
}

.sec-3 .text-content {
    width: 70%;
}

.squr-new {
    position: absolute;
    top: -60px;
    left: -40px;
    opacity: 0.6;
    z-index: -2;
    transform: scale(0.6);
}

.sec-3 .la-osi {
    position: relative;
    top: -20px;
    color: white;
    font-weight: 200;
    font-size: 300px;
    animation: sq3 12s ease infinite;
}

@keyframes sq3 {
    0%{
        top: -20px;
    }
    25%{
        top: 10px;
    }
    50%{
        top: -20px;
    }
    75%{
        top: 10px;
    }
    100%{
        top: -20px;
    }
}

.bt-app {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid rgb(45, 180, 140);
    color: white;
    transform: scale(1.2);
    font-weight: 500;
    box-shadow: none;
    outline: none;
    transition: 0.5s;
}

.bt-app:active {
    box-shadow: none;
}

.bt-app:hover {
    transition: 0.5s;
    color: white;
    transform: scale(1.13);
}

.sec-3 h1 {
    position: relative;
    top: 30px;
    color: white;
    width: 70%;
}

.sec-footer {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 200px auto 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 39, 39);
    font-weight: 500;
}

.sec-footer div {
    height: 100%;
    width: 50%;
}

.squr-footer {
    position: relative;
    top: -60px;
    width: 45%;
    transform: scale(1.5);
    animation: sq 5.5s ease-in-out infinite;
    height: 100%;
}

@keyframes sq {
    0%{
        top: -60px;
    }
    25%{
        top: -40px;
    }
    50%{
        top: -60px;
    }
    75%{
        top: -40px;
    }
    100%{
        top: -60px;
    }
}

.sosmed {
    position: relative;
    top: 30px;
    text-align: left;
    margin: auto;
    display: block;
}

.sosmed div {
    margin: 0;
    height: 0;
}

.sosmed span {
    position: relative;
    top: -35px;
    left: 150px;
    color: white;
    width: 800px;
}

.sosmed i {
    font-size: 32px;
    display: block;
    background-color: transparent;
    color: rgb(36, 209, 200);
    border: 3px solid rgb(36, 209, 200);
    margin: 0px 30px;
    border-radius: 90px;
    padding: 5px;
    width: 50px;
    transition: 0.5s;
}

.sosmed i:hover {
    transform: rotate(180deg);
    transition: 0.5s;
    cursor: pointer;
    color: white;
    background-color: rgb(36, 209, 200);
}

a:hover {
    color: white;
}

.tap {
position: fixed;
bottom: 60px;
z-index: 90;
right: 30px;
opacity: 0;
font-size: 45px;
transition: 0.5s;
}

.tap a {
    color: rgb(255, 255, 255);
}

.tap i {
    border: 2px solid rgb(34, 199, 150);
    background-color: rgb(34, 180, 137);
    border-radius: 30px;
    padding: 4px;
}

.tap i:hover {
    transition: .5s;
    cursor: pointer;
    transform: scale(1.2);
}